# Archivo de configuración local y credenciales
.env

# Archivos basura de Python
__pycache__/
*.pyc

# Carpetas de configuración de VS Code y Streamlit
.streamlit/
.vscode/

# Opcional - archivos Excel y CSV
# *.xlsx
# *.csv

# Backups de Base de Datos
*.dump
*.sql